name: PHP

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up PHP 7.0
      uses: shivammathur/setup-php@v2
      with:
        php-version: '7.0'
    - name: Install php code sniffer
      run: composer require "squizlabs/php_codesniffer=*"
    - name: Run linting
      run: composer lint

  integration_tests:
    uses: optimizely/php-sdk/.github/workflows/integration_test.yml@mnoman/gitAction
    secrets:
      CI_USER_TOKEN: ${{ secrets.CI_USER_TOKEN }}
      TRAVIS_COM_TOKEN: ${{ secrets.TRAVIS_COM_TOKEN }}

  unit_tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-versions: [ '5.5', '5.6', '7.0', '7.1', '7.2', '7.3' ]
    steps:
    - uses: actions/checkout@v3
    - name: Set up PHP ${{ matrix.ruby }}
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-
    - name: Install dependencies
      run: composer install
    - name: run tests
      run: |
        mkdir -p build/logs
        ./vendor/bin/phpunit --coverage-clover build/logs/clover.xml
#     - name: coveralls
#       run: vendor/bin/php-coveralls -v
